:global .leaflet-container {
  /* min-height: 800px; */
  width: 100%;
  height: 100%;
  color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

:global .leaflet-layer {
  pointer-events: none;
}
:global .leaflet-layer.evented {
  pointer-events: auto;
}
:global .leaflet-container .leaflet-canvas-layer {
  transition: transform .5s ease-in;
  transform-origin: 0 0;
}

:global .leaflet-control-container {
  position: absolute;
  top: 0;
  right: 250px;
  bottom: 0;
  left: 0;
}

:global .sidebar-closed .leaflet-control-container {
  right: 50px;
}
:global .leaflet-right .leaflet-control-scale:after {
  clear: both;
  content: ' ';
}
:global .leaflet-right .leaflet-control-scale-line {
  float: right;
  clear: both;
  text-align: right;
}

:global .leaflet-right .leaflet-control-scale-line:before {
  clear: both;
  content: ' ';
}

:global .leaflet-popup-pane {
  z-index: 1400;
}
